<% if defined?(state) && state.present? %>
  <div class="relative bg-cover bg-center h-[315px] flex items-center justify-center text-center text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= state.featured_image.presence || state.courses.first&.image_url.presence || "https://source.unsplash.com/1600x900/?golf" %>');">
    <div class="max-w-4xl mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">
        Best Golf Courses in <%= state.name %>
      </h1>
      <p class="text-md md:text-xl">
        These are the <%= state.courses.count %> golf courses and <%= state.locations.count %> destinations in <%= state.name %>, where the average green fee is approximately <%= number_to_currency(state.average_green_fee.presence || 100) %>.
        <% top_100_course_count_in_state = Course.where(state: state).tagged_with("golf:top100").count %>
        <% if top_100_course_count_in_state > 0 %>
          and <%= top_100_course_count_in_state %> Top 100 course<%= 's' if top_100_course_count_in_state > 1 %>.
        <% else %>
          .
        <% end %>
      </p>
    </div>
  </div>
<% end %> 