<!DOCTYPE html>
<html>
  <head>
    <title>Golf Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <%= yield :head %>

    <%# Google Maps API loading script %>
    <script>
      window.GOOGLE_MAPS_CONFIG = {
        apiKey: '<%= Rails.application.credentials.google_maps_api_key %>',
        mapId: '<%= Rails.application.credentials.google_maps_map_id %>'
      };
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&v=beta">
    </script>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    
    <main>
      <%= yield %>
    </main>
    
    <%= render "shared/footer" %>
  </body>
</html>